<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Appointment</title>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: bootstrap}" th:remove="tag"></object>
</head>
<body>

<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container">
    <div class="text-center my-4">
        <h2>New Appointment For <span th:text="${name}"></span></h2>
    </div>
    <div class="row justify-content-center">
        <div class="card" style="width: 60rem;">
            <div class="card-body">
                <form th:action="@{|/appointment/${patient.nik}/create|}" th:object="${appointmentDTO}" method="POST">

                    <div class="row">
                        <div class="col-md-6">
                            <label for="doctor" class="form-label">Doctor</label>
                            <select class="form-control" id="doctor" name="doctor" th:field="*{doctorId}" required>
                                <option value="" disabled selected th:text="'Select Doctor'">Select Doctor</option>
                                <option th:each="doctor: ${listDoctor}" th:value="${doctor.id}" th:text="${doctor.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-md-6">
                            <label for="appointmentDate">Choose an appointment date:</label>
                            <select id="appointmentDate" th:field="*{date}" class="form-control" name="appointmentDate" required>
                                <option value="" disabled selected>Select a date</option>
                            </select>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Create Appointment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('doctor').addEventListener('change', function() {
    const doctorId = this.value;
    const appointmentDate = document.getElementById('appointmentDate');

    appointmentDate.innerHTML = '<option value="">Select a date</option>';

    if (doctorId) {
        fetch(`/appointment/available-dates?doctorId=${doctorId}`)
        .then(response => response.json())
        .then(dates => {
        dates.forEach(date => {
        const option = document.createElement('option');

        option.value = new Date(date).toISOString().split('T')[0];

    option.textContent = new Date(date).toLocaleDateString('en-GB', {
    weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'
    });

    appointmentDate.appendChild(option);
    });
    })
    .catch(error => {
    console.error('Error fetching available dates:', error);
    });
    }
    });
</script>

</body>
</html>
