<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: bootstrap}" th:remove="tag"></object>
  <title>Patient Not Found</title>
</head>
<body>

<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container">
  <div class="text-center my-4">
    <h2>New Patient & Appointment</h2>
  </div>
  <div class="row justify-content-center">
    <div class="card" style="width: 60rem;">
      <div class="card-body">
        <div>
          <form th:action="@{/appointment/create-with-patient}" th:object="${appointmentDTO}" method="POST">

            <div class="row my-3">
              <div class="col-md-6">
                <label for="doctor-name" class="form-label">Name</label>
                <input class="form-control" type="text" id="doctor-name" th:field="*{name}" placeholder="Name" required />
              </div>
              <div class="col-md-6">
                <label for="email" class="form-label">NIK</label>
                <input class="form-control" type="email" id="nik" th:field="*{nik}" placeholder="NIK" required />
              </div>
              <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" type="email" id="email" th:field="*{email}" placeholder="Email" required />
              </div>
            </div>

            <div class="row my-3">
              <div class="col-md-6">
                <label class="form-label">Gender</label>
                <div class="d-flex">
                  <div class="form-check me-3">
                    <input class="form-check-input" type="radio" id="male" name="gender" th:field="*{gender}" value="true" />
                    <label class="form-check-label" for="male">Male</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" id="female" name="gender" th:field="*{gender}" value="false" />
                    <label class="form-check-label" for="female">Female</label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="dob" class="form-label">Date of Birth</label>
                <input class="form-control" type="date" id="dob" th:field="*{dob}" placeholder="dd-mm-yyyy" required />
              </div>
            </div>

            <div class="row my-3">
              <label for="doctor" class="form-label">Doctor</label>
              <input class="form-control" type="text" id="doctor" th:field="*{doctor}" placeholder="Doctor" required />
            </div>

            <div class="row my-3">
              <label for="schedule" class="form-label">Schedule</label>
              <input class="form-control" type="text" id="schedule" th:field="*{schedule}" placeholder="Schedule" required />
            </div>

              <div class="text-center m-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-danger" href="/appointment/all">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
