<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Doctor List</title>
  <object th:include="~{fragments/common :: js}" th:remove="tag "></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag "></object>
  <object th:include="~{fragments/common :: bootstrap}" th:remove="tag "></object>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4 mt-4">
    <h2>Doctors</h2>
    <div>
      <a type="button" class="btn btn-primary m-2" href="/doctor/create">Add Doctor</a>
    </div>
  </div>

  <table id="doctors-table" class="table table-striped">
    <thead>
    <tr>
      <th scope="col" class="text-center" style="text-align: center; background-color: #6f42c1; color: white; padding: 10px;">No</th>
      <th scope="col" class="text-center" style="text-align: center; background-color: #6f42c1; color: white; padding: 10px;">ID</th>
      <th scope="col" class="text-center" style="text-align: center; background-color: #6f42c1; color: white; padding: 10px;">Doctor</th>
      <th scope="col" class="text-center" style="text-align: center; background-color: #6f42c1; color: white; padding: 10px;">Specialization</th>
      <th scope="col" class="text-center" style="text-align: center; background-color: #6f42c1; color: white; padding: 10px;">Schedule (Days)</th>
      <th scope="col" class="text-center" style="text-align: center; background-color: #6f42c1; color: white; padding: 10px;">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor, i : ${listDoctor}">
      <td th:text="${i.index + 1}"></td>
      <td th:text="${doctor.id}"></td>
      <td th:text="${doctor.getName(doctor.specialist)}"></td>
      <td th:text="${doctor.getSpecialistString()}"></td>
      <td th:text="${#strings.arrayJoin(doctor.getScheduleDayStrings(), ', ')}"></td>
      <td>
        <div class="text-center">
          <a type="button" class="btn btn-md btn-primary"
             th:href="@{/doctor/{idDoctor}(idDoctor=${doctor.id})}">Detail</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function () {
    $('#doctors-table').DataTable({
      "lengthMenu": [10, 20, 30],
    });
  });
</script>

</body>

</html>
